.about-us-container {
  width: 1000px;
  /* margin: 0 auto; */
  /* padding: 20px; */
  /* background-color: red; */
  text-align: justify;
}

.about-us-heading {
  font-size: 32px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.about-us-container {
  width: 100%;
  max-width: 1000px;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.about-us-description {
  font-size: 1.2rem;
  color: #eee;
  margin-bottom: 20px;
  text-align: center;
}

.about-us-content {
  font-size: 1rem;
  color: #f1f1f1;
  line-height: 1.6;
  margin-bottom: 20px;
  padding: 0 10px;
  text-align: justify;
}

.plant_logo_right {
  text-align: right;
}

.plant_logo_left {
  text-align: left;
}
